header {
	background-color: transparent;
	transition: 0.7s;
	color: $secondary-col;
	display: flex;
	justify-content: space-between;
	padding: 20px 30px 20px 30px;
	height: $header-height;
	top: 0;
	align-items: center;
	width: 100%;
	z-index: 100;
	position: fixed;

	&.scrolled {
		background-color: $primary-col;
	}

	&.hidden {
		top: -$header-height;
	}

	nav {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		li {
			position: relative;
			display: inline-block;
			padding-bottom: 5px;
			margin-top: 5px;

			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 1px;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background-color: rgb(255, 255, 255);
				transition: width 0.3s;
			}

			&:hover::before {
				width: 100%;
			}
		}
	}

	.header-cart-selections {
		margin-left: auto;
		@include flexCenter;
		gap: 2rem;

		a {
			display: flex;
			align-items: center;
		}

		#user-icon,
		#wishlist-icon {
			width: 1.5rem;
		}
	}
}
