header {
	background-color: transparent;
	transition: 0.7s;
	color: $secondary-col;
	display: flex;
	justify-content: space-between;
	padding: 20px 30px 20px 30px;
	height: $header-height;
	top: 0;
	align-items: center;
	width: 100%;
	z-index: 100;
	position: fixed;

	&.scrolled {
		background-color: $primary-col;
	}

	&.hidden {
		top: -$header-height;
	}

	nav {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		li:hover {
			text-decoration: underline;
		}
	}

	.header-cart-selections {
		margin-left: auto;
	}
}
