nav {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: $nav-height;
	padding-top: 20px;
	padding-bottom: 20px;

	ul {
		display: flex;
		align-items: center;
		gap: 50px;
		font-size: 24px;
	}
}
