@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');
@import './base/variables';
@import './base/normalize';

@import './layout/header';
@import './layout/navbar';
@import './pages/home.scss';
@import './pages/shop';
@import './pages/wishlist';
@import './components/productCard';
@import './pages/productPage';
@import './pages/error';
@import './pages/login';
@import './pages/signUp';
@import './pages/about';
@import './pages/contact';
@import './layout/footer';

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
