* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Helvetica Now Text', Helvetica, sans-serif;
	letter-spacing: 1px;
	line-height: 1.4;
	font-size: 16px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: $primary-col;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0.8rem 1.5rem 0.8rem 1.5rem;
	color: white;
	cursor: pointer;
}
