.wishlist {
	@include flexCenter;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	margin-top: $header-height;
	padding: 5rem;

	#wishlist-title {
		font-size: 3rem;
		align-self: flex-start;
	}

	.wishlist-items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		place-items: center;
		gap: 3rem;
	}

	.page-selection {
		@include flexCenter;
		gap: 1rem;
		margin-top: 1rem;

		.page {
			padding: 0.6rem 0.8rem 0.6rem 0.8rem;
			background-color: transparent;
			color: $primary-col;
			font-weight: bold;
			font-size: 14px;
			transition: 0.3s;

			button {
				text-align: center;
			}

			&.selected {
				background-color: $primary-col;
				color: $secondary-col;
			}

			&:hover {
				background-color: $primary-col;
				color: $secondary-col;
			}
		}
	}
}
