.contact {
	height: 100vh;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background-color: $secondary-col;
	color: $primary-col;

	.contact-title {
		text-align: center;
		font-weight: bold;
		font-size: 2rem;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		label {
			font-weight: bold;
		}

		input {
			font-size: 1.4rem;
			border-radius: 5px;
			padding: 0.5rem;
			border: 1px solid black;
		}

		textarea {
			@extend input;
			resize: none;
		}
	}

	.form-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 5px;
	}

	.form-submit {
		font-size: 1.5rem;
		align-self: flex-start;
	}

	.names-container {
		display: flex;
		gap: 2rem;
	}
}
