.contact {
	height: 100vh;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $secondary-col;
	color: $primary-col;

	.container {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 30%;
	}

	.contact-title {
		text-align: center;
		font-weight: bold;
		font-size: 2rem;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		label {
			font-weight: bold;
		}

		input {
			font-size: 1rem;
			border-radius: 5px;
			padding: 0.5rem;
			border: 1px solid black;
			width: 100%;
		}

		textarea {
			@extend input;
			resize: none;
		}
	}

	.form-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 5px;
	}

	.form-submit {
		font-size: 1.2rem;
		align-self: flex-start;
	}

	.names-container {
		display: flex;
		gap: 2rem;
	}
}

@media only screen and (max-width: 600px) {
	.contact {
		.container {
			width: 80%;

			.names-container {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

@media only screen and (min-width: 601px) {
	.contact {
		.container {
			width: 60%;
		}
	}
}

@media only screen and (min-width: 768px) {
	.contact {
		.container {
			width: 50%;
		}
	}
}

@media only screen and (min-width: 992px) {
	.contact {
		.container {
			width: 40%;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.contact {
		.container {
			width: 30%;
		}
	}
}
