.home {
	display: flex;
	flex-direction: column;

	.hero-section {
		width: 100%;
		height: 100vh;

		.hero-section-bg {
			height: 100%;
			width: 100%;
			object-fit: cover;
			position: relative;
		}

		.hero-section-text {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: start;
			top: 30%;
			left: 10%;
			color: white;

			h1 {
				font-size: 8rem;
				letter-spacing: 0.4rem;
				font-family: 'Bebas Neue', sans-serif;
			}

			h3 {
				font-size: 2rem;
			}

			.shop-now-btn {
				margin-top: 2rem;
				padding: 1rem 2rem 1rem 2rem;
				font-size: 2rem;
				font-weight: bold;
				border: none;
			}
		}
	}

	.featured-watches-section {
		padding: 2rem 4rem 2rem 4rem;
		height: calc(100vh * 0.8);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: $secondary-col;
		color: $primary-col;

		.text-container {
			display: flex;
			flex-direction: column;
			align-self: flex-start;

			h2 {
				font-size: 2rem;
			}
		}

		.featured-watches {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		.view-all-btn {
			font-size: 1.4rem;
		}
	}

	.watch-showcase-section {
		position: relative;
		height: calc(100vh * 0.8);
		overflow: hidden;
		.showcase-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		#lady-datejust {
			transform: scale(1.2);
		}

		#tudor-royal {
			transform: scale(1.3);
			object-position: -50% 100%;
		}

		.text {
			opacity: 0;
			transition: opacity 1s ease, transform 1s ease;
			position: absolute;
			top: 40%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			z-index: 20;
			height: auto;

			&.left.true,
			&.right.true {
				opacity: 1;
				transform: translateX(0);
			}

			h3 {
				font-size: 3rem;
			}

			p {
				font-size: 1.5rem;
			}

			.light {
				color: $secondary-col;
			}

			.dark {
				color: $primary-col;
			}

			&.left {
				left: 10%;
				transform: translateX(-20px);
			}

			&.right {
				right: 10%;
				transform: translateX(20px);
			}
		}
	}

	.news-letter-subscribe {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		gap: 1.4rem;
		background-color: $primary-col;
		color: $secondary-col;
		padding: 3rem;
		box-shadow: 0px 0px 10px 5px $primary-col, 0px 0px 80px 30px $primary-col;
		z-index: 1;

		.img-container {
			width: 50%;

			.newsletter-img {
				width: 100%;
			}
		}

		.form-section {
			display: flex;
			flex-direction: column;
			gap: 50px;
			justify-content: center;
			width: 50%;
			box-shadow: -4px 20px 25px 60px $primary-col;

			.text {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				.newsletter-title {
					font-size: 3rem;
				}

				p {
					font-size: 1.5rem;
				}
			}

			form {
				display: flex;
				gap: 1.4rem;

				input {
					padding: 0.8rem 1rem 0.8rem 1rem;
					border: 1px solid black;
					border-radius: 0.8rem;
					font-size: 1.5rem;
				}

				.newsletter-submit {
					background-color: $secondary-col;
					color: $primary-col;
					font-size: 1.4rem;
				}
			}
		}
	}
}
