header {
	background-color: transparent;
	transition: 0.7s;
	color: $secondary-col;
	display: flex;
	justify-content: space-between;
	padding: 1.4rem 2rem 1.4rem 2rem;
	min-height: $header-height;
	top: 0;
	align-items: center;
	width: 100%;
	z-index: 100;
	position: fixed;

	&.scrolled {
		background-color: $primary-col;
	}

	&.hidden {
		top: -$header-height;
	}

	.header-cart-selections {
		margin-left: auto;
		@include flexCenter;
		gap: 2rem;

		a {
			display: flex;
			align-items: center;
		}

		#user-icon,
		#wishlist-icon {
			width: 1.5rem;
		}
	}
}

@media only screen and (max-width: 1200px) {
	header {
		display: grid;
		column-gap: 2rem;
		grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);

		.header-title {
			white-space: nowrap;
			text-align: center;
		}

		.burger-nav {
			display: flex;
			flex-direction: column;

			.burger-menu-icon {
				width: 3rem;
				justify-self: start;
				cursor: pointer;
				z-index: 100;

				&.open {
					z-index: -1;
				}
			}
		}

		.header-cart-selections {
			justify-content: flex-end;
			margin-left: 0;
		}
	}
}
