.product-card {
	padding: 0.5rem;
	height: 550px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.img-and-text {
		width: 100%;

		.img-container {
			padding: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			.wishlist-icon {
				position: absolute;
				width: 2rem;
				top: 1rem;
				right: 0;
				cursor: pointer;
			}

			.product-image {
				height: 300px;
				max-width: auto;
				cursor: pointer;
			}
		}

		.brand-name {
			font-size: 1.4rem;
			font-weight: bold;
			text-align: center;
		}

		.model-name {
			text-align: center;
			margin-top: 0.5rem;
			font-size: 1rem;
			width: 100%;
		}
	}

	.priceAndBtnsContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		width: 100%;

		.product-price {
			font-weight: bold;
		}

		.product-btns {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0.5rem;

			button {
				width: 100%;
				height: 100%;
				font-size: 1rem;
				font-weight: bold;
			}
		}
	}
}

.product-card.homepage {
	height: 400px;
	width: 300px;

	.img-container {
		padding: 1rem;

		.product-image {
			height: 250px;
		}
	}

	.img-and-text {
		.wishlist-icon {
			display: none;
		}
	}

	.brand-name {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.model-name {
		font-size: 1rem;
	}

	.priceAndBtnsContainer {
		display: none;
	}
}
